.main-nav {
  display: flex;
  background-color: aquamarine;
  height: 60px;
}

.ulnav {
  padding-left: 40px;;
}

.ulnav li {
  list-style: none;
  cursor: pointer;
  gap: 20px;
}

.login-nav {
  display: flex;
  text-align: right;
}
